# Node modules
node_modules/

# Logs
*.log

# Environment files
.env

# Build outputs
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Operating system files
.DS_Store
Thumbs.db
